# Theory Question!!!!!
Q1.
###What are data structures, and why are they important?
###Ans. Data structures are specialized formats for organizing, storing, and accessing collections of data. They provide efficient ways to manage information based on its characteristics and intended use.
###Importance:-
###1.Choosing the right data structure significantly impacts the efficiency and performance of your program.
###2.Well-chosen data structures can:
###3.Simplify data manipulation (adding, removing, modifying elements)
###4.Optimize searching and sorting operations
###5.Conserve memory usage

Q2.
###Explain the difference between mutable and immutable data types with examples?
###Ans. Mutable data types can be changed after creation, while immutable data types cannot.

 ****Examples of mutable data type****
###1.Lists
In Python, lists are mutable, meaning you can add, remove, or change elements.
###2.Dictionaries
In Python, dictionaries are mutable, meaning you can change their values or data.
###3.Sets
In Python, sets are mutable, meaning you can change their values.
###4.Arrays
In JavaScript, arrays are mutable, meaning you can add, remove, or update their elements.

***Examples of immutable data types***
###1.Strings:
In Python, strings are immutable, meaning you cannot change their content after creation.
###2.Tuples:
In Python, tuples are immutable, meaning you cannot change their elements after creation.
###3.Integers:
 In Python, integers are immutable, meaning you cannot change their values.
###4.Floats:
In Python, floats are immutable, meaning you cannot change their values.
###5.Numbers:
In JavaScript, numbers are immutable, meaning you cannot change their values.

Q3.
###What are the main differences between lists and tuples in Python??
###Ans.The main difference between tuples and lists is that tuples are immutable, meaning their contents cannot be changed after creation, while lists are mutable and can be modified. Additionally, tuples are more memory-efficient compared to lists.

Q4.
###Describe how dictionaries store data?
###Ans.Dictionaries are used to store data values in key:value pairs. A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

Q5.
###Why might you use a set instead of a list in Python??
###Ans.Lists and tuples are standard Python data types that store values in a sequence. Sets are another standard Python data type that also store values. The major difference is that sets, unlike lists or tuples, cannot have multiple occurrences of the same element and store unordered values.

Q6.
###What is a string in Python, and how is it different from a list??
###Ans.Strings in Python are sequences of characters enclosed in quotes ('' or “”). Lists are ordered collections of items enclosed in square brackets []. 2) Strings are immutable, meaning they cannot be changed once created, while lists are mutable and can be modified as needed.

Q7.
###How do tuples ensure data integrity in Python?
###Ans.Tuples in Python are immutable, meaning once they are created, they cannot be changed. This characteristic can be leveraged for data integrity by using tuples for data that should not be modified after creation

Q8.  
###What is a hash table, and how does it relate to dictionaries in Python??
###Ans.A hash table is a data structure that allows you to store a collection of key-value pairs. In a hash table, the key of every key-value pair must be hashable, because the pairs stored are indexed by using the hash of their keys

Q9.
###Can lists contain different data types in Python
###Ans. Although it's not really common, a list can also contain a mix of Python types including strings, floats, and booleans.
###However, in Python, lists can contain heterogeneous data types and objects. For instance, integers, strings, and even functions can be stored within the same list.

Q10.
###Explain why strings are immutable in Python??
###Ans.Strings in Python are immutable to ensure memory efficiency, data security, and reliable performance. By being immutable, strings can be stored and reused through a technique called string interning, which saves memory by storing only one copy of identical strings. This immutability also makes strings secure, preventing accidental or malicious changes to sensitive data such as passwords. Additionally, immutability allows strings to be hashable, enabling their use as keys in dictionaries and elements in sets, which require consistent and unchangeable values.

Q11.
###What advantages do dictionaries offer over lists for certain tasks?
####Ans. ***Advantages of Dictionaries over Lists***
###1.Fast Data Lookup:
Retrieving data using keys is faster than searching through a list.
###2.Key-Value Pairs:
Store data as key-value pairs, making information easier to manage.
###3.Unique Keys:
Keys are unique, helping avoid duplicate entries.
###4.Flexible Data Types:
Keys and values can be different types, unlike list indices.
###5.Better Organization:
Useful for structured data, like storing user details or configurations.

Q12.
###Describe a scenario where using a tuple would be preferable over a list??
###Ans. A tuple is better than a list when you need to store data that shouldn’t change, like days of the week. **For example**, if you store ("Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday") as a tuple, you prevent accidental changes to the days. Tuples are also faster than lists, so they are a good choice for storing fixed data that doesn't need to be modified.

Q13.
### How do sets handle duplicate values in Python3
###Ans.In Python, sets automatically remove duplicates. When you try to add a duplicate value to a set, it simply ignores it. For example, if you try to add the same element multiple times, the set will only store it once. This behavior ensures that every element in a set is unique. Sets are useful when you want to store data without worrying about duplicates, like keeping track of unique items in a collection.

Q14.
###How does the “in” keyword work differently for lists and dictionaries?
###Ans.The in keyword works differently for lists and dictionaries in Python:-
For Lists: The in keyword checks if a value is present in the list. It searches through all the elements to see if the value exists.
**Example:***
my_list = [1, 2, 3]
print(2 in my_list)  # True

###For Dictionaries:
The in keyword checks if a key exists in the dictionary, not the value. It looks through the dictionary's keys.
**Example:***
my_dict = {"a": 1, "b": 2}
print("a" in my_dict)  # True
**So, in lists, in checks for values, while in dictionaries, it checks for keys.**

Q15.
###Can you modify the elements of a tuple? Explain why or why not?
###Ans.No, you cannot modify the elements of a tuple because tuples are immutable. Once a tuple is created, its values cannot be changed. This is done to ensure the data remains constant and reliable.

Q16.
###What is a nested dictionary, and give an example of its use case?
###Ans.A nested dictionary is a dictionary that contains another dictionary as a value. It's useful for storing complex data that needs multiple levels of organization.
***Example**
students = {
    "John": {"age": 15, "grade": "A"},
    "Sarah": {"age": 14, "grade": "B"}
}
###This can be used to store student information where each student’s name is the key, and their age and grade are stored in another dictionary.

Q17.
###Describe the time complexity of accessing elements in a dictionary.
###Ans.Accessing elements in a dictionary is O(1) on average. This means it’s very fast because dictionaries are built using hash tables, allowing quick lookups by key.

Q18.  
###In what situations are lists preferred over dictionaries?
###Ans.Lists are preferred over dictionaries when:
###1.You need to maintain order of the elements.
###2.You want to store duplicate values.
###3.You need to use operations like sorting or indexing.

Q19.
###Why are dictionaries considered unordered, and how does that affect data retrieval?
###Ans.Dictionaries are considered unordered because their elements don’t have a fixed order. While Python 3.7+ maintains insertion order, the key focus is that data is accessed by key, not order. This makes retrieval fast but does not guarantee any specific order for the elements.

Q20.
###Explain the difference between a list and a dictionary in terms of data retrieval?
###Ans.Lists are retrieved by index. The data is ordered, so you access elements based on their position.
Dictionaries are retrieved by key. They store data in key-value pairs, and you access values by their unique key.

In [ ]:
#1. Write a code to create a string with your name and print it
string1 = "Sejal Rana"
print(string1)

Sejal Rana

In [ ]:
#2. Write a code to find the length of the string "Hello World"
str1 = "Hello world"
print(str1)
len(str1)

Hello world

11

In [ ]:
#3. Write a code to slice the first 3 characters from the string "Python Programming"
string = "Python Programming"
print(string[0:3])

Pyt

In [ ]:
 #4. Write a code to convert the string "hello" to uppercase
 a = "hello"
 print(a.upper())

HELLO

In [ ]:
 #5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
string = "I like apple"
string.replace("apple","orange")

'I like orange'

In [ ]:
#6. Write a code to create a list with numbers 1 to 5 and print it
list = [1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [ ]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4]
list = [1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [ ]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list1 = [1,2,3,4,5]
list1.remove(3)
print(list1)

[1, 2, 4, 5]

In [ ]:
 #9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list = ['a','b','c','d']
print(list[1])

b

In [ ]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50]
list = [10,20,30,40,50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

In [ ]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it
tup = (100,200,300)
print(tup)

(100, 200, 300)

In [ ]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tuple1 = ('red','green','blue','yellow')
print(tuple1[-2])
# another way
tuple2 = ('red','green','blue','yellow')
print(tuple2[2])

blue
blue

In [ ]:

#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)
TUPLE3 =(10,20,5,15)
print(min(TUPLE3))

5

In [ ]:
 #14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple4 = ('dog','cat','rabbit')
print(tuple4.index('cat'))

1

In [ ]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
tuple2 =('apple','mango','kiwi')
if 'kiwi' in tuple2:
  print('kiwi is present')
else:
  print('Kiwi is not present')

kiwi is present

In [ ]:
#16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set = {'a','b','c'}
print(set)

{'c', 'b', 'a'}

In [ ]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set1 = {1,2,3,4,5}
print(set1)
print(set1.clear())
print(set1)

{1, 2, 3, 4, 5}
None
set()

In [ ]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
se ={1,2,3,4}
(se.remove(4))
print(se)

{1, 2, 3}

In [ ]:
 #19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
 se1 = {1,2,3}
 se2 = {3,4,5}
 print(se1|se2)

{1, 2, 3, 4, 5}

In [ ]:
#20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
se3 = {1,2,3}
se4 = {2,3,4}
print(se3&se4)

{2, 3}

In [ ]:
#21.  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict1 = {'name','age','city'}
print(dict1)

{'age', 'city', 'name'}

In [ ]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dict1 = {'name':'John','age':25}
dict1['country'] = 'USA'
print(dict1)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:

 #23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
 dict2 = {'name':'Alice','age':30}
 print(dict2['name'])

Alice

In [ ]:
 #24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
 dict3 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
 del dict3['age']
 print(dict3)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
 #25. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
 dict3 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
 del dict3['age']
 print(dict3)

{'name': 'Bob', 'city': 'New York'}

In [ ]:

 #25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
 dict4 = {'name': 'Alice', 'city': 'Paris'}
 if 'city' in dict4:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

In [ ]:
 #26. Write a code to create a list, a tuple, and a dictionary, and print them all.
list = [1,2,3,4,5,6]
tuple = (1,2,3,4,5,6)
dict = {'name':'sejal','age':'21','dob':'29/07/2004'}
print(list)
print(tuple)
print(dict)

[1, 2, 3, 4, 5, 6]
(1, 2, 3, 4, 5, 6)
{'name': 'sejal', 'age': '21', 'dob': '29/07/2004'}

In [ ]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

list1 = [1,78,45,63,72,74,90]
list1.sort()
print(list1)

[1, 45, 63, 72, 74, 78, 90]

In [ ]:
 #28. Write a code to create a list with strings and print the element at the third index.
 list2 = ['Ajay','Vijay','Ram','Sita','sejal','Manya','Muskan']
 print(list2[3])
 print(list2.index("sejal"))

Sita
4

In [ ]:
 #29. Write a code to combine two dictionaries into one and print the result.
 dict1 = {'a':1,'b':2,'c':3,'d':4,'e':5}
 dict2 ={'name':'SejalRana','Age':21,'Address':'Himachal Pradesh'}
 (dict1.update(dict2))
 print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'name': 'SejalRana', 'Age': 21, 'Address': 'Himachal Pradesh'}

In [1]:
 #30. Write a code to convert a list of strings into a set?
string_list = ["apple", "banana", "cherry", "apple", "banana"]

# Convert the list to a set
string_set = set(string_list)

# Print the set
print(string_set)

{'banana', 'apple', 'cherry'}